.global-homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 0;
  background-image: url(../img/accueil.jpg);
  justify-content: center;
}

.title-homepage {
    margin-bottom: 300px;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}
