.global-gallery {
  display: flex;
  flex-direction: column;
  background-image: url(../img/fond2.jpg);
  background-position: center top;
  background-size: 100% auto;
  opacity: 0.9;
}

.picture-gallery {
  display: flex;
  flex-direction: column;
}

.heart-like-gallery {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .title-gallery {
    font-size: 100%;
    margin-top: 10vh;
  }
  hr {
    width: 80vw;
  }
  .formulaire-search-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .input-title-gallery,
  .input-author-gallery {
    width: 10vw;
  }
  .one-element-gallery {
    display: flex;
    flex-direction: column;
    margin: 4% 0 15% 0;
    align-items: center;
  }
  .pic-gallery {
    width: 80vw;
    border: black solid;
    border-radius: 2%;
  }
  .heart-like-gallery img {
    width: 5vw;
    height: 4vh;
  }
  .heart-like-gallery p {
    margin-top: 1%;
  }
  .informations-gallery {
    text-align: center;
    padding-left: 0;
    width: 80vw;
  }
  .informations-gallery p {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
  }
  .informations-gallery :nth-child(3) {
    font-weight: bold;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .title-gallery {
    font-size: 150%;
    margin-top: 10vh;
  }
  hr {
    width: 70vw;
  }
  .formulaire-search-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .input-title-gallery,
  .input-author-gallery {
    width: 15vw;
  }
  .one-element-gallery {
    display: flex;
    flex-direction: column;
    margin: 4% 0 8% 0;
    align-items: center;
  }
  .pic-gallery {
    width: 70vw;
    border: black solid;
    border-radius: 2%;
  }
  .heart-like-gallery img {
    width: 3vw;
    height: 4vh;
  }
  .heart-like-gallery p {
    margin-top: 1%;
  }
  .informations-gallery {
    text-align: center;
    padding-left: 0;
    width: 70vw;
  }
  .informations-gallery p {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
  }
  .informations-gallery :nth-child(3) {
    font-weight: bold;
  }
}

@media only screen and (min-width: 901px) {
  .title-gallery {
    font-size: 200%;
    margin-top: 10vh;
  }
  hr {
    width: 80vw;
  }
  .formulaire-search-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .input-title-gallery,
  .input-author-gallery {
    width: 20vw;
  }
  .one-element-gallery {
    display: flex;
    flex-direction: row;
    margin: 5% 5% 5% 5%;
  }
  .pic-gallery {
    width: 60vw;
    border: black solid;
    border-radius: 2%;
  }
  .heart-like-gallery img {
    width: 3vw;
    height: 5vh;
  }
  .heart-like-gallery p {
    margin-top: 1%;
  }
  .informations-gallery {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 0 0 0 5%;
  }
  .informations-gallery p {
    font-size: 100%;
    font-style: italic;
  }
  .informations-gallery :nth-child(3) {
    font-weight: bold;
    margin-top: 25%;
  }
}
